* {
margin: 0;
padding: 0;
}

html, body {
height: 100%;
}

body {
text-align: left;
font: 16px verdana, geneva, sans-serif;
line-height: 1.6em;
background: #f1f1f1;
overflow-x: hidden;
/* Panel animation should last 200ms */
transition: transform .2s;
-webkit-transition: -webkit-transform .2s;
}

/* Menu  */

.menuBackground {
position: absolute;
background: #293439;
height: 57px;
border-bottom: 3px solid #B51C21;
width: 100%;
}

.dropDownMenu a {
color: #FFF;
}

.dropDownMenu, .dropDownMenu ul {
list-style: none;
margin: 0;
padding: 0;
}

.dropDownMenu li {
position: relative;
border-bottom: 1px solid #6b93b2;
}

.first {
border-top: 3px solid #DADADA;
}

.dropDownMenu a {
padding: 16px 40px;
display: block;
text-decoration: none;
}

.dropDownMenu li a {
color: #fff !important;
}

.dropDownMenu a:hover {
background: #3992D6;
}

/* Level 1 Drop Down */
.dropDownMenu > li {
display: inline-block;
vertical-align: top;
margin-left: -4px;
}
.dropDownMenu > li:first-child {
margin-left: 0;
border-bottom: none;
}

/* Level 2 */
.dropDownMenu ul {
box-shadow: 2px 2px 15px 0 rgba(0,0,0, 0.5);
}
.dropDownMenu > li > ul {
text-align: left;
display: none;
background: #4E7B9E;
position: absolute;
top: 100%;
left: 0;
width: 400px;
z-index: 999999;
}

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
text-align: left;
display: none;
background: darkcyan;
position: absolute;
left: 100%;
top: 0;
z-index: 9999999;
}

.menu-header {
font: bold 16px 'PT Sans', sans-serif;
color: #3992D6;
display: block;
padding: 14px 15px;
border-bottom: 1px solid #ddd;
background: #fff;
}

/* edit */

#edit {
position: absolute;
top: 70px;
right: 40px;
}

button {
padding: 3px 8px 3px;
background: #53ac69;
border: 1px solid #53ac69;
}

/* wrapper and content */

#wrapper {
max-width: 1320px;
margin: 0 auto;
}

#content {
margin: 0 20px;
}

#main {
margin: 60px 360px 0 0;
background: #f1f1f1;
float: left;
}

#main a {
color: #063f79;
text-decoration: underline;
}

#content a:hover{
color: #a7160a;
text-decoration: underline;
}

#main img { 
margin: 0 auto;
width: 100% !important;
height: auto !important;
border: 0;
}

/* article */

.article {
background: #fff;
margin: 22px 0;
border: 1px solid #ddd;
}

/* news */

.news {
display: table-cell;
width: 100%;
}

.news  a {
color: #000 !important;
text-decoration: none !important;
}

.news-row {
display: table-row;
}

.col1, .col2, .col3 {
width: 33%;
display:table-cell;
vertical-align: top
}
 
.vertborders {
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

/* ads */

.adtop, .adright, .adbot {
padding: 40px;
margin-top: 22px;
background: #fff;
text-align: center;
border: 1px solid #ddd;
}

.adright {
padding: 20px;
margin-top: 22px;
}

/* paragraphs, headings */

.header-icon {
padding-left: 45px;
}

.header {
position: relative;
display: block;
height: 60px;
margin-left: 20px;
font: bold 20px/57px 'PT Sans', sans-serif;
color: #333;
letter-spacing: 0.01em;
border-bottom: 1px solid #dfdfdf;
}

.header.icon-text:before {
background: url(../images/icons/text.svg) no-repeat;
}

.header.icon-news:before {
background: url(../images/icons/news.svg) no-repeat;
}

.header.icon-important:before {
background: url(../images/icons/important.svg) no-repeat;
}

.header:before {
content: '';
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 30px;
height: 50px;
}

h2 {
margin: 25px;
font: bold 17px 'PT Sans', sans-serif;
color: #333;
}

h3 {
margin: 25px;
font: bold 16px 'PT Sans', sans-serif;
color: #333;
}

a:link, a:visited {
letter-spacing: 1px;
font-weight: normal;
}

p {
margin: 25px;
}

table {
margin: 0 2%;
word-break: break-all;
}

a:link, a:visited {
color: #000;
text-decoration: none;
}

hr {
background: #f1f1f1;
height: 8px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: 1px solid #f1f1f1;
border-right: 1px solid #f1f1f1;
}

/* поиск */

.search {
position: absolute;
top: 11px;
width: 290px;
z-index: 9999;
}

input {
padding: 5px 15px 4px; 
background: #E7E3E7;
border: 1px solid #ddd;
cursor: pointer;
}

/* rightbar */

#rightbar {
float: right;
position: relative;
background: #f1f1f1;
margin-left: -360px;
width: 340px;
font: 15px verdana, geneva, sans-serif;
}

.anons {
margin-top: 22px;
background: #fff;
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

.anons a{
display: block;
padding: 12px 15px;
border-bottom: 1px solid #ddd;
}

.anons a:hover {
background: #F7FBF7;
text-decoration: none;
}

/* mainlinks */

#mainlinks {
margin-top: 82px !important;
background: #fff;
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

#mainlinks a{
display: block;
padding: 12px 15px;
border-bottom: 1px solid #ddd;
}

#mainlinks a:hover {
background: #F7FBF7;
text-decoration: none;
}

/* blog */

#blog {
background: #fff;
margin: 22px 0;
border: 1px solid #ddd;
}

/* footer */

#footer {
margin: 0 auto;
text-align: center;
background: #3d3c3c;
overflow: hidden;
}

#footer  p, #footer  a{
font: 16px arial, sans-serif;
text-align: center;
color: #ddd;
}

/* кнопка вверх */

.back-to-top {
position: fixed;
bottom: 22px;
right: 20px;
padding: 10px 19px 18px;
background: #3992D6;
border: 1px solid #ddd;
color: #fff !important;
font-size: 28px;
display: none;
}

/* адаптивность */

@media screen and (min-width: 320px) and (max-width: 920px) {

body {
font: 14px verdana, geneva, sans-serif;
}
	
#main {
width: 100%;
}

.header-icon {
padding-left: 35px;
}

.header {
height: 40px;
font: bold 18px/40px 'PT Sans', sans-serif;
}

.header:before {
width: 21px;
height: 35px;
}

p {
margin: 15px;	
}

#rightbar {
display: none;
}

.back-to-top  {
padding: 8px 16px 12px;
font-size: 18px;
}
}